body{
	font-family: arial;
	margin: 0;
}
.wrapper{
	width:100%;
	margin: 0 auto;
}

.left-nav {
	background: #ff5353;
	padding: 20px 10px;
	width: 25%;
	margin: 0 auto;
	padding: 0;
	clear: both;
	float: left;
	height: 1000px;
}

.map {
	background-color: #aaa;
	min-width: 73%;
	min-height:1000px;
	margin: 0;
	float: left;


}
