.wrapper{
	margin: 0;
	padding: 0;
}
main {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
/*
**		message
*/
main .message {
	height: 30px;
	text-align: center;
}
main .message #message.display {
	display: block;
}
main .message #msg.display-no {
	display: none;
}

/**
**		leftSite
*/
.leftSite{
	float: left;
	width: 450px;
	height: 600px;
	margin: 0;
	padding: 0;
}
.leftSite div {
	box-sizing: border-box;
	padding: 20px;
}
.leftSite div p{
	margin: 25px 0;
}

/**
**		rightSite - form
*/
.rightSite {
	float: left;
	width: 450px;
	height: 600px;
	padding: 0;
	text-align: center;
}

.rightSite .form {
	margin: 0 auto;
	padding: 0;
}

.rightSite .form input{
	display: block;
	width:300px;
	margin: 10px auto;
	height:30px;
}
.form textarea{
	display: block;
	width:300px;
	height:80px;
	margin: 10px auto;
}
.form .btn {
	display: block;
	margin: 30px auto;
	width: 300px;
	height: 30px;
}

input.valid{
	border: 2px solid #36cc36;
}

input.invalid {
	border: 2px solid #800000;
}

input + p {
	font-family: arial;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	margin: 0 10px;
	color: orange;
	opacity: 0;
	height: 0;
}

input.invalid + p {
	opacity: 1;
	height:auto;
	margin-bottom: 20px;
}
select {
	height: 30px;
	width: 300px;
	color: rgba(0,0,0,0.7);
}
