<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Find-me</title>
		<link href="styles.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<div class="wrapper">
			<nav class="upperNav">
				<div class="finder">
					<p>Locality</p>

						<form class="form">
							<input type="text" placeholder="Long"/>
							<input type="text" placeholder="Lat"/>
							<button type="submit">Find</button>
						</form>


				</div>
				<div class="login">
					<ul>
						<li>Log-in</li>
					</ul>
				</div>
			</nav>
			<div class="content">
				<nav class="leftNav">
					<ul>
						<li><a>Add</a></li>
						<li><a>Edit</a></li>
						<li><a>Remove</a></li>
					</ul>
				</nav>
				<article class="article-map">
					<div class="map">

					</div>
				</article>
			</div>
		</div>
	</body>
</html>
