<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FindMe</title>
		<link href="/styles/main-nav-style.css" rel="stylesheet" type="text/css"/>
		<link href="/styles/home-style.css" rel="stylesheet" type="text/css"/>
		<link href="/styles/footer.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	<% include main-nav %>
		<article class="wrapper">
			<nav class="left-nav">
				<div>
					<h1>Find geocaches around you!</h1>
				</div>
				<form id="formCoords">
					<input id="lng" type="text" name="longitute" placeholder="longitute"/>
					<p>Field must contain number as pattern 123.0123456789</p>
					<input id="lat" type="text" name="latitude" placeholder="latitude"/>
					<p>Field must contain number as pattern 89.0123456789</p>
					<button type="submit">Search</button>
				</form>
				<form id="formAuthorOrTitle">
					<input type="text" id="author" name="author" placeholder="author">
					<p>Field must contain 5 - 20 characters</p>
					<p>or</p>
					<input type="text" id="title" name="title" placeholder="title">
					<p>Field must contain 5 - 40 characters</p>
					<button type="submit">Search</button>
				</form>
			</nav>
			<main class="sheet">
				<div id="map"></div>
			</main>
			<div style="clear:both;"></div>
			<main class="resultsList">
				<div>
					<h1>RESULTS OF SEARCHING:</h1>
					<ul id="list"></ul>
				</div>

			</main>
		</article>
		<% include footer %>

		<script async defer
 			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi2DATs7pckt89AixRQmjToEs7erqC7Us&callback=initMap">
 		</script>
		<script src="/js/home-page.js"></script>
	</body>
</html>
