<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FindMe</title>
		<link href="/styles/main-nav-style.css" rel="stylesheet" type="text/css"/>
		<link href="/styles/footer.css" rel="stylesheet" type="text/css"/>
		<link href="/styles/profile-newCache-style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<% include main-nav %>
		<article class="wrapper">
			<main>
				<div class="message">
					<p id="msg">Added new geocache</p>
				</div>
				<div>
					<h1 id="username" style="display: none;"><%= user.username %></h1>
					<form class="form">
						<input id="lat" type="text" name="latitude" placeholder="latitude" required/>
						<p>Field must contain number as pattern 123.0123456789</p>
						<input id="lng" type="text" name="longitude" placeholder="longitude" required/>
						<p>Field must contain number as pattern 89.0123456789</p>
						<select id="size" name="size">
						  <option value="extra small">Size: extra small</option>
						  <option value="small">Size: small</option>
						  <option value="medium">Size: medium</option>
						  <option value="large">Size: large</option>
						  <option value="extra large">Size: extra large</option>
						</select>
						<input id="title" type="text" name="title" placeholder="title" required/>
						<p>Field must contain 5 - 40 characters</p>
						<textarea id="description" type="text" placeholder="description"></textarea>
						<select id="available" name="abailable">
						  <option value="true">Available- yes</option>
						  <option value="false">Available- no</option>
						</select>
						<button class="btn" type="submit">Add change</button>
					</form>
				</div>
			</main>
		</article>
		<% include footer %>
		<script src="/js/profile-newCache.js"></script>
	</body>
</html>
