body{
	font-size: 24px;
	margin: 0;
	padding: 0;

}
ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}
li{
	margin: 0;
	text-decoration: none;
	padding: 0;
}
.upperNav{
	border: 1px solid black;
	height: 100px;
	width: 100%;
}
.upperNav .finder {
	float: left;
}
.upperNav p {
	float: left;
	margin-left: 50px;
}
.upperNav form{
	float:left;
	margin :20px;
}
.upperNav input {
	height:25px;
	width: 400px;
}
.upperNav .login {
	border: 1px solid black;
	float: right;
	margin: 10px;
	padding:0 10px;
}

.leftNav{
	border: 1px solid black;
	float:left;
	width: 100px;

}
.leftNav li {
	border: 1px solid black;
	padding:10px;
}
.article-map{
	border: 1px solid black;
	height: 1000px;
	float:left;
	width:2000px;


}
